@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');

:root {
  --border: #2f3b54; //#3f2b96;
  --dark-bg: #151922;
  --dark-grey: rgb(74, 71, 71);
  --download: #018401;
  --download-hover: rgb(2, 188, 2);
  --highlight: #ffce06;
  --primary-bg: #171c28;
  --secondary-bg: #151922;
  --light-grey: #f4f4f4;
  --light-text: #ffce06;
  --link: #ffce06;
  --link-underline: var(--link);
  --med-grey: #ccc;
  --primary-color: #007bff;
  --secondary: #171c28;
  --light-blue: #2196f3;
  --terminate: #ff0000;
  --input-field: #151922;
}

::selection {
  color: var(--light-text);
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  background-color: var(--dark-grey);
  background: repeating-linear-gradient(-45deg, var(--primary-bg), var(--primary-bg) 1px, var(--secondary-bg) 2px, var(--secondary-bg) 10px);
  font-family: "Open Sans", sans-serif;
}

.content {
  position: relative;
  padding: 20px;
  background-color: var(--secondary);
  color: var(--light-grey);

  border-radius: 15px;
  border: 2px dotted var(--border);
  max-width: 720px;
}

h1 {
  font-size: 26px;
  font-weight: normal;
  color: var(--light-text);
}

.proper {
  font-style: italic;
}

input {
  padding: 10px;
  width: auto;
  border: 4px solid var(--border);
  border-radius: 3px;
  font-size: 16px;
  color: var(--light-grey);
  background-color: var(--input-field);
  outline: none;

  &::placeholder {
    color: var(--input-field);
    opacity: 0.6;
  }

  &:focus {
    border-color: var(--primary-color);
    box-shadow: 0 0 0 2px var(--primary-color);
  }
}

.button {
  position: relative;
  padding: 10px 20px;
  margin: 10px 10px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: var(--primary-color);
  cursor: pointer;
  transition: background-color 0.3s;

  &.active {
    background-color: var(--light-blue);
  }

  &:hover {
    background-color: var(--light-blue);
  }

  &:after {
    position: absolute;
    content: "";
    left: -8px;
    top: -8px;
    width: 100%;
    height: 100%;
    border: 4px solid transparent;
    border-radius: 9px;
    transition: position 0.3s;
  }


  // &:hover:after {
  //   border-color: var(--light-blue);
  //   padding: 4px;
  // }
}

#status {
  margin-top: 20px;
  text-align: right;
  color: #fff;

  span {
    display: inline-flex;
    margin: 0;
    font-size: 14px;
    color: var(--highlight);
    padding: 6px;
    border-radius: 6px;
    opacity: 0;
    transition: all 1.5s;
  }

  a {
    display: inline-block;
    padding: 6px 12px;
    margin-top: 10px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: var(--download-hover);
    }
  }

}

#download-link {
  background-color: green;
  position: relative;
  transition: all 1.2s;
  margin-left: 10px;

  &:after {
    position: absolute;
    content: "";
  }
}

.author {
  position: absolute;
  bottom: 20px;
  text-transform: uppercase;
  font-size: 15px;
  padding-top: 2px;
  padding-bottom: 10px;
  color: var(--light-grey);

  .love {
    font-size: 10px;
  }

  a {
    color: var(--light-grey);
    text-decoration: none;
    font-weight: bold;
    border-bottom: 2px solid var(--link-underline);
    transition: all 0.4s ease-in-out;

    &:hover {
      color: var(--highlight);
      border-bottom: 2px solid var(--highlight);
    }
  }

}

#terminate {
  position: absolute;
  bottom: 110px;
  left: 50%;
  text-align: center;
  transform: translate(-50%, 20px);

  &:hover::after {
    content: "Shutdown";
    position: absolute;
    width: 100px;
    left: 50%;
    top: -75px;
    padding: 5px;
    transform: translate(-50%, 20px);
    // background-color: var(--terminate);
    color: #fff;
    border-radius: 20px;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
    border: 2px solid #ffffff57;
  }

  .icon {
    background-color: transparent;
    border: none;
    color: var(--terminate);
    cursor: pointer;
    box-shadow: 0 0 0 0 var(--terminate), 0 0 0 0 var(--terminate);
    border-radius: 50%;
    padding: 15px;

    &::after {
      content: "";
      display: block;
      position: absolute;
    }

    &:hover {
      padding: 10px;
      border: 5px solid var(--terminate);
      animation: pulse 1.5s cubic-bezier(0.5, 0.5, 0, 1) infinite;
    }

  }

  .icon i {
    font-size: 24px;

    &:hover {
      background-color: var(--dark-bg);
      border-radius: 50%;
    }
  }

  @keyframes pulse {
    to {
      box-shadow: 0 0 0 10px transparent, 0 0 0 20px transparent;
    }
  }

  .terminate-text {
    color: var(--terminate);
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
    display: block;
  }

}



// .wipe {
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   background-color: var(--dark-grey);
//   z-index: 9999;
//   animation: wipe-animation 1s forwards;
// }

// .wipe-out {
//   animation: wipe-out-animation 1s forwards;
// }

// @keyframes wipe-animation {
//   0% {
//     transform: translateY(-100%);
//   }

//   100% {
//     transform: translateY(0);
//   }
// }

// @keyframes wipe-out-animation {
//   0% {
//     transform: translateY(0);
//   }

//   100% {
//     transform: translateY(-100%);
//   }
// }

// $shooting-time: 4000ms;

// .lines {
//   position: absolute;
//   left: 0;
//   top: 50%;
//   height: 2px;
//   background: linear-gradient(-45deg, rgba(95, 145, 255, 0.35), rgba(0, 0, 255, 0));
//   border-radius: 999px;
//   filter: drop-shadow(0 0 6px rgba(105, 155, 255, 1));
//   animation:
//     tail $shooting-time linear infinite,
//     shooting $shooting-time linear infinite;

//   @for $i from 1 through 20 {
//     &:nth-child(#{$i}) {
//       $delay: random(9999)+0ms;
//       top: percentage(random(100) / 100);
//       left: 0;
//       animation-delay: $delay;
//     }
//   }
// }

// @keyframes tail {
//   0% {
//     width: 0;
//     opacity: 0;
//   }

//   25% {
//     opacity: 100%;
//   }

//   75% {
//     opacity: 100%;
//   }

//   100% {
//     width: 100%;
//     opacity: 0;
//   }
// }

// @keyframes shooting {
//   0% {
//     transform: translateX(0);
//   }

//   100% {
//     transform: translateX(100%);
//   }
// }